body{
    background-color: #F4F4F5;
    width: 80%;
    padding-left: 10%;
    margin:10px;
}
/*Navigation bar*/
ul.Navigation li{
    display: inline;
}
ul {
    list-style-type: none;
    margin:10px;
    padding: 5px 5px 0px 0px;
    overflow: hidden;
}

#location{
    width: 250px;
    padding: 10px;
    margin: 10px;

}

#gsearch{
    width: 250px;
    padding: 10px;
    margin: 10px;
}
 li p{
    color: rgb(216, 89, 16);
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: 15px;
    font-size: 40px;
    text-align: center;
    padding: 0px 20px 0px 350px;
}

li{
    float: left;
}

li a{
    display: block;
    color: rgb(14, 8, 1);
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
}
button{
    float: right;
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}
/*this sectios for grid*/
#section-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
#section-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.card{
    height: 100%;
    width: 100%;
    display: block;
    color: white;
    padding: 16px 14px;
    float: left;
    text-decoration:none;
    border-image-repeat: round;
}
div.container-2{
    width: 80%;
    padding-left: 10%;
    margin:10px;
    position: absolute;
    margin: 10px;
    border-radius: 20px;
	padding:40px;
}
.container-2 h2{
    float: inline-end;
}